<template>
<div class="container">
    <div class="messaging mt-5">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>User List</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list " :id="user.id" v-for="user in userslist" :key="user.id" @mouseover="is_hovering = user.id" @mouseout="is_hovering = null" @click="selectuser(user.id)" :class="[

                        (user.id == selected_user ) ? 'active_chat' : '',
                        (user.id == is_hovering) ? 'active_chat' : ''

                    ]">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" :alt="user.name"> </div>
                            <div class="chat_ib">
                                <h5> {{user.name}} </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history" id="msg_history" ref="msg_history" v-if="selected_user">

                    <div v-for="message in messageslist" :key="message.id">

                        <div class="outgoing_msg" v-if="message.sender_id !== user_id">
                            <div class="sent_msg">
                                <p>{{ message.message}}</p>
                                <span class="time_date"> {{ message.created_at }} </span>
                            </div>
                        </div>

                        <div class="incoming_msg" v-else>
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{ message.message}}</p>
                                    <span class="time_date"> {{ message.created_at }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="type_msg" v-if="selected_user">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" v-model="message" />
                        <button class="msg_send_btn" type="button" @click="send_message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>

export default {
    data() {
        return {
            user: this.$store.state.user.name,
            userslist: [],
            messageslist: [],
            message: null,
            user_id: null,
            selected_user: null,
            is_hovering: null
        }
    },
    mounted() {

        console.log(this.$store.state.token);

        this.axios.get('/user-list')
            .then(({
                data
            }) => {
                this.userslist = data;
            })
            .catch(error => {
                if (error.response.status == 401) {
                    //this.$store.commit('logout');
                    // this.$router.push({
                    //     path: "/login"
                    // });
                } else {}
            });

    },
    methods: {
        selectuser(id) {
            this.user_id = id;
            this.selected_user = id;

            this.axios.get('/get-message/' + id)
                .then(({
                    data
                }) => {
                    this.messageslist = data.messages;
                })
                .catch(error => {
                    if (error.response.status == 401) {
                        this.$store.commit('logout');
                        this.$router.push({
                            path: "/login"
                        });
                    }
                });

        },
        send_message() {

            this.axios.post('/send-message', {
                    'user_id': this.user_id,
                    'message': this.message
                })
                .then(({
                    data
                }) => {
                    this.messageslist = data.messages;
                    this.message = null;
                })
                .catch(error => {
                    if (error.response.status == 401) {
                        this.$store.commit('logout');
                        this.$router.go('login');
                    } else {
                        this.error_message = error.response.data.errors.option_id[0];
                    }

                })
        }
    },
    created() {

    },
    destroyed() {

    },
    watch: {
        messageslist(val) {
            setTimeout(() => {
                const container = this.$refs.msg_history;
                container.scrollTop = container.scrollHeight;
            }, 100);
        }
    },
}
</script>

<style scoped>
.container {
    max-width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 18px;
    color: #464646;
    margin: 4px 0 2px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 7%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}
</style>
