<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="m-b-50 heading-line">Inbox </h3>

            <div class="notification-ui_dd-content">

                <div class="notification-list" v-for="notification in notifications" :key="notification.id" :class="[
                    (notification.is_seen == 0) ? 'notification-list--unread' : '',
                ]">
                    <div class="notification-list_content">
                        <div class="notification-list_img">
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="user">
                        </div>
                        <div class="notification-list_detail">
                            <p><b>{{ notification.sender.name }}</b></p>
                            <p class="text-muted">{{ notification.message }}</p>
                            <p class="text-muted"><small>{{ notification.created_at }}</small></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            notifications: []
        }
    },
    mounted() {
        this.axios.get('/notification')
            .then(({
                data
            }) => {
                this.notifications = data.messages;
            })
            .catch(error => {
                if (error.response.status == 401) {
                    this.$store.commit('logout');
                    this.$router.push({
                        path: "/login"
                    });
                } else {}
            });
    }
}
</script>

<style scoped>
.section-50 {
    padding: 50px 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: #333;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}
</style>
