
<template>

<main class="login-form">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <div class="alert alert-danger" data-dismiss="alert"  role="alert" v-if="error_message">
                            {{ error_message }}
                        </div>
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input type="text" id="email_address" class="form-control" v-model="user.email" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control" v-model="user.password" required>

                                <!-- <span class="text-danger"></span> -->

                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4">
                            <button type="button" class="btn btn-primary" @click="login">
                                Login
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</template>

<script>
export default {
    name: "login",
    components: {

    },
    data() {
        return {
            user: {
                email: '',
                password: '',
            },
            error_message: null
        };
    },
    mounted() {

    },

    methods: {
        login() {

            this.axios.post('/login', this.user)
                .then(({
                    data
                }) => {
                    this.$store.commit('login', data);
                    this.$router.push({ path: "/dashboard" });
                    this.$router.go(0);


                })

                .catch(error => {
                    if (error.response.status == 401) {
                        this.error_message = error.response.data.error;
                    } else {
                    }
                });
        }
    },
    watch: {
        error_message:function(val){
            setTimeout(() => {
                this.error_message = null;
            }, 5000);
        }
    },
}
</script>
